# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Django
*.log
local_settings.py
# Django DB
backend/db.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log

#-IDE
.idea/
.vscode/
.cursor
.windsurf
docs

#dotenv
.env
